<% provide(:title, t("mailers.password_resets.forgot_pass")) %>
<h1><%= t "mailers.password_resets.forgot_pass" %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.submit t("mailers.password_resets.submit"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
